[Desktop Entry]
Comment=WinXP-splash-screen-espanol

Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Name=Windows XP splash español

Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Matías Saibene
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=WinXP-splash-screen-espanol
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://de-todo-un-poco-computacion-e-ideas.blogspot.com/
X-KDE-fallbackPackage=
X-Plasma-MainScript=
X-KPackage-Dependencies=
